# Compiled class file
*.class
.idea/
.claude/
# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear

**/target/
*.tar.gz
*.rar
__pycache__/
*.DS_Store
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

src/cogpath/cfg/src/comex.egg-info/

src/cogpath/*.json
src/cogpath/*.html
poetry.lock
.ssh/
*.pem

# Ignore Excel temporary files
~$*.xlsx